@import "~@blueprintjs/core/src/common/react-transition";
@import "~@blueprintjs/icons/src/icons";
@import "~@blueprintjs/core/src/common/variables";

@keyframes wiggle-rotate {
  0% { transform: rotate(0); }
  25% { transform: rotate(-3deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}

.wiggle {
  animation: wiggle-rotate $pt-transition-duration $pt-transition-ease infinite;
}
